@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');

/* General items */
body {
  background-color: #F6F9FC;
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: orange;
}

img {
width: 150px;
height: 150px;
object-fit: cover;
border-radius: 50%;
}

h1, h2 {
  font-family: Roboto;
  color: rgb(66, 65, 65);
  font-size: 30px;
  line-height: 45px;
}

ul {
  list-style-type: none;
}

footer {
  text-align: center;
}

/* Classes */

.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
  margin: 30px;
  text-align: center;
  box-shadow: 4px 4px 4px rgba(170, 170, 170, 0.6)
}

.container {
  width: 800px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

/* .img-me {
  background-image: url("images/IMG_2769.jpg");
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 150px;
} */

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 50px;
  text-decoration: none;
  color: rgba(170, 170, 170, 0.6)
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.button{
  background-color: #4249c8;
  font-family: roboto;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 15px;
}

.button:hover {
  color: rgb(255, 255, 255);
  background-color: black;
}

.intro{
  margin: 40px;
}

/* IDs */

#main-title {
  font-size: 40px;
}

/* Responsiveness */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }

  h2 {
    font-size: 25px;
  }

.list-inline > li {
  display: inline-block;
  padding: 0px 5px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.intro {
  margin: 20px;
}

}
